<div [nbSpinner]="loading" nbSpinnerStatus="basic">
  <nb-card *ngIf="trip; else noTrip">
    <nb-card-header class="card-header">
      <nb-icon
        icon="arrow-back-outline"
        (click)="goBack()"
        hover-class="hover"
      ></nb-icon>
      <p>{{ trip.title }}</p>
      <p>{{ trip.state }}</p>
    </nb-card-header>
    <nb-card-body class="card-body">
      <p *ngIf="trip.reasonCancelled">
        The trip was cancelled: {{ trip.reasonCancelled }}
      </p>
      <p>Description: {{ trip.description }}</p>
      <img class="img-responsive" src="{{ trip.pictures[0] }}" />
      <p>Start date: {{ trip.startDate }}</p>
      <p>End date: {{ trip.endDate }}</p>
      <p>{{ 'card-trip.price' | translate }}: €{{ trip.price }}</p>
      <p>Requirements</p>
      <ul>
        <li *ngFor="let requirement of trip.requirements">
          {{ requirement }}
        </li>
      </ul>
      <p>Stages</p>
      <nb-stepper orientation="vertical">
        <ng-container *ngFor="let stage of trip.stages">
          <nb-step [label]="stage.title">
            <h2>{{ stage.title }}</h2>
            <p>{{ stage.description }}</p>
            <p>
              <b>€{{ stage.price }}</b>
            </p>
          </nb-step>
        </ng-container>
      </nb-stepper>
    </nb-card-body>
    <nb-card-footer *ngIf="tripIsNotCancelled" class="card-footer">
      <p>Created by: {{ trip.manager.name }}</p>
      <div class="button-group">
        <button
          *ngIf="isOwnTrip && trip.state === 'INACTIVE'"
          nbButton
          (click)="publishTrip()"
        >
          Publish trip
        </button>
        <button *ngIf="isOwnTrip" nbButton (click)="editTrip()">
          Edit trip
        </button>
        <button
          *ngIf="isOwnTrip && trip.state === 'INACTIVE'"
          nbButton
          (click)="deleteTrip()"
        >
          Delete trip
        </button>
        <button
          *ngIf="isOwnTrip && trip.state === 'ACTIVE'"
          nbButton
          (click)="cancelTrip()"
        >
          Cancel trip
        </button>
        <button
          *ngIf="isExplorer && trip.state === 'ACTIVE'"
          nbButton
          (click)="openModal()"
        >
          Apply to trip
        </button>
      </div>
    </nb-card-footer>
  </nb-card>

  <ng-template #noTrip>
    <nb-card>
      <nb-card-body>
        <p>No trip found</p>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>
