<div [nbSpinner]="loading" nbSpinnerStatus="basic">
  <nb-card *ngIf="trip; else noTrip">
    <nb-card-header class="card-header">
      <nb-icon
        icon="arrow-back-outline"
        (click)="goBack()"
        hover-class="hover"
      ></nb-icon>
      <p>{{ trip.title }}</p>
      <p>{{ trip.state }}</p>
    </nb-card-header>
    <nb-card-body class="card-body">
      <p *ngIf="trip.reasonCancelled">
        {{ 'trip-detail.reasonCancelled' | translate }}
        {{ trip.reasonCancelled }}
      </p>
      <p>{{ 'trip-detail.description' | translate }}: {{ trip.description }}</p>

      <img
        class="img-responsive"
        *ngFor="let picture of trip.pictures"
        src="{{ picture }}"
      />
      <p>{{ 'trip-detail.startDate' | translate }}: {{ trip.startDate }}</p>
      <p>{{ 'trip-detail.endDate' | translate }}: {{ trip.endDate }}</p>
      <p>{{ 'trip-detail.price' | translate }}: €{{ trip.price }}</p>
      <p>{{ 'trip-detail.requirements' | translate }}:</p>
      <ul>
        <li *ngFor="let requirement of trip.requirements">
          {{ requirement }}
        </li>
      </ul>
      <p>{{ 'trip-detail.stages' | translate }}:</p>
      <nb-stepper orientation="vertical">
        <ng-container *ngFor="let stage of trip.stages">
          <nb-step [label]="stage.title">
            <h2>{{ stage.title }}</h2>
            <p>{{ stage.description }}</p>
            <p>
              <b>€{{ stage.price }}</b>
            </p>
          </nb-step>
        </ng-container>
      </nb-stepper>
    </nb-card-body>
    <nb-card-footer *ngIf="tripIsNotCancelled" class="card-footer">
      <p>{{ 'trip-detail.manager' | translate }} {{ trip.manager.name }}</p>
      <div class="button-group">
        <button
          *ngIf="isOwnTrip && trip.state === 'INACTIVE'"
          nbButton
          (click)="publishTrip()"
        >
          {{ 'trip-detail.buttons.publish' | translate }}
        </button>
        <button *ngIf="isOwnTrip" nbButton (click)="editTrip()">
          {{ 'trip-detail.buttons.edit' | translate }}
        </button>
        <button
          *ngIf="isOwnTrip && trip.state === 'INACTIVE'"
          nbButton
          (click)="deleteTrip()"
        >
          {{ 'trip-detail.buttons.delete' | translate }}
        </button>
        <button
          *ngIf="isOwnTrip && trip.state === 'ACTIVE'"
          nbButton
          (click)="cancelTrip()"
        >
          {{ 'trip-detail.buttons.cancel' | translate }}
        </button>
        <button
          *ngIf="isExplorer && trip.state === 'ACTIVE'"
          nbButton
          (click)="openModal()"
        >
          {{ 'trip-detail.buttons.apply' | translate }}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>

  <ng-template #noTrip>
    <nb-card>
      <nb-card-body>
        <p>{{ 'trip-detail.noTrips' | translate }}</p>
      </nb-card-body>
    </nb-card>
  </ng-template>

  <nb-card *ngIf="sponsorship">
    <nb-card-header>
      <h3>{{ 'trip-detail.sponsorship' | translate }}</h3>
    </nb-card-header>
    <nb-card-body>
      <a href="{{ sponsorship?.link }}">
        <img class="sponsor-image" src="{{ sponsorship?.banner }}" />
      </a>
    </nb-card-body>
  </nb-card>
</div>
