<!-- !TODO - add more info and make it prettier  -->
<nb-card *ngIf="trip">
  <nb-card-header>{{ trip.title }}</nb-card-header>
  <nb-card-body>
    {{ trip.description }}
    <br />
    <img
      class="img-responsive"
      src="{{ trip.pictures[0] }}"
      alt="{{ trip.title }}"
    />
    <br />
    <p>{{ trip.startDate }} - {{ trip.endDate }}</p>
    <p *ngIf="trip.reasonCancelled">{{ trip.reasonCancelled }}</p>
    <p>Application State: {{ trip.state }}</p>
  </nb-card-body>
  <nb-card-footer>
    <b>{{ 'card-trip.price' | translate }}:</b> {{ trip.price }}
    <button (click)="goBack()">go back</button>
  </nb-card-footer>
</nb-card>
