.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .hover {
    cursor: pointer;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.img-responsive {
  align-self: center;
  max-width: 100%;
  width: 500px;
}

.card-footer {
  display: flex;
  justify-content: space-between;

  .button-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
}

.sponsor-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
