<nb-card *ngIf="trip" [nbSpinner]="loading" nbSpinnerStatus="basic">
  <nb-card-header class="header-container">
    <p>
      {{ title }}: <b>{{ trip.title }}</b>
    </p>
    <nb-icon
      icon="close-outline"
      (click)="close()"
      hover-class="hover"
    ></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <p>{{ trip.description }}</p>
    <br />
    <p>Start Date: {{ trip.startDate | date: 'medium' }}</p>
    <p>End Date: {{ trip.endDate | date: 'medium' }}</p>
    <br />
    <p class="price">
      <b> ${{ trip.price }} </b>
    </p>
    <br />
    <p>
      If you'd like to cancel a trip, you must specify a reason of cancellation:
    </p>
    <form [formGroup]="cancelTripForm" (ngSubmit)="cancelTrip()">
      <textarea
        formControlName="reasonCancelled"
        nbInput
        fullWidth
        rows="3"
        placeholder="Please add a reason of cancellation..."
      ></textarea>
      <br />
      <button nbButton type="submit" [disabled]="!cancelTripForm.valid">
        Cancel trip
      </button>
    </form>
  </nb-card-body>
</nb-card>
