<div class="side-menu-buttons">
  <div class="control-status-example" routerLink="/">
    <nb-icon icon="globe-2-outline"></nb-icon>
  </div>
  <h1>
    <a routerLink="/trips" style="text-decoration: none"> ACME Explorer </a>
  </h1>

  <nb-actions size="small">
    <nb-action
      icon="paper-plane-outline"
      link="/trips"
      title="All Trips"
    ></nb-action>
    <nb-action
      *ngIf="isManager()"
      icon="plus-outline"
      link="/trips/create"
      title="Create Trip"
    ></nb-action>
    <nb-action
      icon="file-text-outline"
      link="/applications"
      title="My Applications"
    ></nb-action>
  </nb-actions>
</div>

<div class="buttons">
  <nb-icon
    icon="globe"
    [nbContextMenu]="languageList"
    nbContextMenuTag="language-list-menu"
  ></nb-icon>
  <nb-icon
    (click)="changeTheme()"
    [icon]="this.currentTheme === 'default' ? 'moon-outline' : 'sun-outline'"
  ></nb-icon>
  <div *ngIf="!isLoggedIn" class="auth-buttons">
    <button nbButton [routerLink]="'login'">
      {{ 'security.login' | translate }}
    </button>
    <button nbButton [routerLink]="'register'">
      {{ 'security.register' | translate }}
    </button>
  </div>
  <nb-user
    shape="semi-round"
    name="{{ currentUser.name }} {{ currentUser.lastName }}"
    title="{{ currentUser.role.toLowerCase() }}"
    [showTitle]="true"
    [picture]="currentUser.profilePicture!"
    [nbContextMenu]="items"
    *ngIf="isLoggedIn"
  ></nb-user>
</div>
