.hover {
  cursor: pointer;
}

.header-text {
  text-align: center;
  margin-bottom: 1rem;
}

.img-responsive {
  max-width: 100%;
}

.listing-container {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
