<div [nbSpinner]="loading" nbSpinnerStatus="basic">
  <nb-card>
    <nb-card-body>
      <form
        [formGroup]="finderForm"
        (ngSubmit)="findTrips()"
        class="finder-container"
      >
        <input
          type="text"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="keyword"
          placeholder="{{ 'finder.search_bar.keyword' | translate }}"
        />
        <input
          [nbDatepicker]="minDatePicker"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="minDate"
          placeholder="{{ 'finder.search_bar.minDate' | translate }}"
        />
        <nb-datepicker #minDatePicker [min]="currentDate"></nb-datepicker>
        <input
          [nbDatepicker]="maxDatePicker"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="maxDate"
          placeholder="{{ 'finder.search_bar.maxDate' | translate }}"
        />
        <nb-datepicker #maxDatePicker [min]="currentDate"></nb-datepicker>
        <input
          type="number"
          min="0"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="minPrice"
          placeholder="{{ 'finder.search_bar.minPrice' | translate }}"
        />
        <input
          type="number"
          min="0"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="maxPrice"
          placeholder="{{ 'finder.search_bar.maxPrice' | translate }}"
        />
        <input
          type="number"
          min="0"
          max="100"
          class="finder-input"
          nbInput
          shape="semi-round"
          formControlName="maxItems"
          placeholder="{{ 'finder.search_bar.maxItems' | translate }}"
        />
        <button nbButton type="submit" [disabled]="!finderForm.valid">
          {{ 'finder.search_bar.button' | translate }}
        </button>
      </form>
    </nb-card-body>
  </nb-card>

  <div *ngIf="trips.length > 0; else noTrips" class="trip-list-container">
    <nb-list class="list-container">
      <nb-list-item *ngFor="let trip of trips">
        <nb-card
          routerLink="/trips/detail/{{ trip.id }}"
          hover-class="hover"
          class="card-container"
        >
          <nb-card-header class="card-header">
            <p class="trip-title">{{ trip.title }}</p>
            <div class="dates">
              <p>{{ trip.startDate }}</p>
              <p>{{ trip.endDate }}</p>
            </div>
          </nb-card-header>
          <nb-card-body>
            {{ trip.description }}
            <br />
            <br />
            <img
              *ngIf="trip.pictures.length > 0"
              class="img-responsive"
              src="{{ trip.pictures[0] }}"
              alt="{{ trip.title }}"
            />
          </nb-card-body>
          <nb-card-footer class="card-footer">
            €{{ trip.price }}
          </nb-card-footer>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </div>

  <ng-template #noTrips>
    <nb-card>
      <nb-card-body>
        <p>{{ 'home.noTrips' | translate }}</p>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>
