<div [nbSpinner]="loading" nbSpinnerStatus="basic">
  <div *ngIf="trips.length > 0; else noTrips" class="trip-list-container">
    <nb-list>
      <nb-list-item *ngFor="let trip of trips">
        <nb-card routerLink="/trips/detail/{{ trip.id }}" hover-class="hover">
          <nb-card-header class="card-header">
            <p class="trip-title">{{ trip.title }}</p>
            <div class="dates">
              <p>{{ trip.startDate }}</p>
              <p>{{ trip.endDate }}</p>
            </div>
          </nb-card-header>
          <nb-card-body>
            {{ trip.description }}
            <br />
            <br />
            <img
              *ngIf="trip.pictures.length > 0"
              class="img-responsive"
              src="{{ trip.pictures[0] }}"
              alt="{{ trip.title }}"
            />
          </nb-card-body>
          <nb-card-footer class="card-footer">
            <b>{{ 'card-trip.price' | translate }}:</b> €{{ trip.price }}
          </nb-card-footer>
        </nb-card>
      </nb-list-item>
    </nb-list>
  </div>

  <ng-template #noTrips>
    <nb-card>
      <nb-card-body>
        <p>No trips found</p>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>
