<div class="header-text">
  <h1> {{ 'finder.list.title' | translate }} </h1>
</div>

<div *ngIf="favoritesList.length > 0; else noFavoriteList">
  <nb-list
      nbInfiniteList
      listenWindowScroll
      [threshold]="1"
      (bottomThreshold)="loadNext()"
      [nbSpinner]="loading"
      nbSpinnerStatus="basic"
    >
      <nb-list-item *ngFor="let favoriteList of favoritesList">
        <nb-card hover-class="hover" class="listing-container">
          <nb-card-header class="header-card">
              <nb-icon icon="funnel-outline"></nb-icon>
               <span>
                <b class="header-card-title">{{ 'finder.list.row.keyword' | translate }}</b>
                {{ favoriteList.name }}
              </span>
          </nb-card-header>

          <nb-card-footer class="footer-card">

          </nb-card-footer>
        </nb-card>
      </nb-list-item>
  </nb-list>
</div>

<ng-template #noFavoriteList>
  <nb-card class="listing-container">
    <nb-card-body>
      <p> {{ 'finder.list.notFound' | translate }}  </p>
    </nb-card-body>
  </nb-card>
</ng-template>
