<div class="header-text">
  <h1 class="title">{{ 'auth.register.title' | translate }}</h1>
  <p class="sub-title">{{ 'auth.register.subtitle' | translate }}</p>
  <p class="sub-title" aria-label="login">
    {{ 'auth.register.submessage' | translate }}
    <a routerLink="/login">{{ 'auth.login.title' | translate }}</a>
  </p>
</div>

<form (ngSubmit)="register()" [formGroup]="registerForm">
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="basic">
    <nb-card-body class="register-card">
      <div>
        <label class="label" for="email"
          >{{ 'auth.fields.email' | translate }}:</label
        >
        <span style="color: red"> *</span>
        <input
          nbInput
          fullWidth
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="{{ 'auth.fields.email' | translate }}"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && registerForm.controls['email']">
          <p
            class="error-text"
            *ngIf="registerForm.controls['email']?.errors?.['required']"
          >
            Please enter your email address
          </p>
          <p
            class="error-text"
            *ngIf="registerForm.controls['email']?.errors?.['email']"
          >
            Your email address must be valid
          </p>
        </div>
      </div>
      <div>
        <label class="label" for="password"
          >{{ 'auth.fields.password' | translate }}:</label
        >
        <span style="color: red"> *</span>
        <input
          nbInput
          fullWidth
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="{{ 'auth.fields.password' | translate }}"
          fieldSize="large"
          status="basic"
          required="true"
          minlength="6"
          maxlength="40"
        />
        <div *ngIf="submitted && registerForm.controls['password']">
          <p
            class="error-text"
            *ngIf="registerForm.controls['password']?.errors?.['required']"
          >
            Please enter your password
          </p>
          <p
            class="error-text"
            *ngIf="registerForm.controls['password']?.errors?.['minlength']"
          >
            Password must be at least 6 characters long
          </p>
          <p
            class="error-text"
            *ngIf="registerForm.controls['password']?.errors?.['maxlength']"
          >
            Password must be less than 40 characters long
          </p>
        </div>
      </div>
      <div>
        <label class="label" for="first-name"
          >{{ 'auth.fields.firstName' | translate }}:</label
        >
        <span style="color: red"> *</span>
        <input
          nbInput
          fullWidth
          type="text"
          id="first-name"
          name="first-name"
          formControlName="name"
          placeholder="{{ 'auth.fields.firstName' | translate }}"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <p
          class="error-text"
          *ngIf="submitted && registerForm.controls['name']?.errors"
        >
          Please enter your first name
        </p>
      </div>
      <div>
        <label class="label" for="last-name"
          >{{ 'auth.fields.lastName' | translate }}:</label
        >
        <span style="color: red"> *</span>
        <input
          nbInput
          fullWidth
          type="text"
          id="last-name"
          name="last-name"
          formControlName="lastName"
          placeholder="{{ 'auth.fields.lastName' | translate }}"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <p
          class="error-text"
          *ngIf="submitted && registerForm.controls['lastName']?.errors"
        >
          Please enter your last name
        </p>
      </div>
      <div>
        <label class="label" for="phone"
          >{{ 'auth.fields.phoneNumber' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          type="tel"
          id="phone"
          name="phone"
          pattern="[0-9]{9}"
          formControlName="telephoneNumber"
          placeholder="{{ 'auth.fields.phoneNumber' | translate }}"
          fieldSize="large"
          status="basic"
          required="false"
        />
        <div *ngIf="submitted && registerForm.controls['telephoneNumber']">
          <p
            class="error-text"
            *ngIf="registerForm.controls['telephoneNumber']?.errors?.['maxlength']"
          >
            Phone number must be 9 digits long
          </p>
          <p
            class="error-text"
            *ngIf="registerForm.controls['telephoneNumber']?.errors?.['pattern']"
          >
            Please enter a valid phone number
          </p>
        </div>
      </div>
      <div>
        <label class="label" for="address"
          >{{ 'auth.fields.address' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          type="text"
          id="address"
          name="address"
          formControlName="address"
          placeholder="{{ 'auth.fields.address' | translate }}"
          fieldSize="large"
          status="basic"
          required="false"
        />
      </div>

      <button
        nbButton
        fullWidth
        [disabled]="registerForm.invalid"
        type="submit"
        status="primary"
        size="large"
      >
        {{ 'auth.register.title' | translate }}
      </button>
    </nb-card-body>
  </nb-card>
</form>
