<nb-accordion multi *ngIf="applications.length > 0; else noApplications">
  <nb-accordion-item *ngFor="let application of applications">
    <nb-accordion-item-header>
      <span>{{ application.trip.title }}</span> -
      <span>{{ application.state }}</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <p>{{ application.trip.description }}</p>
      <br />
      <p>{{ application.comments[0] }}</p>
      <p>
        {{ application.reasonCancelled }}
      </p>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<ng-template #noApplications>
  <nb-card>
    <nb-card-body>
      <p>No applications found</p>
    </nb-card-body>
  </nb-card>
</ng-template>
