<div *ngIf="priceTrackerTrips; else noTrips">
  <nb-card>
    <nb-card-header> Price Tracker </nb-card-header>
    <nb-list>
      <nb-list-item
        *ngFor="let trip of priceTrackerTrips"
        class="list-item-container"
      >
        <div
          class="left-column"
          [style.color]="trip.oldPrices && trip.price > trip.oldPrices?.[trip.oldPrices!.length - 1]!.price ? 'red' : 'green'"
        >
          <div class="trip-title">{{ trip.name }}</div>
          <div>{{ trip.description }}</div>
        </div>
        <div class="right-column">
          <nb-list>
            <nb-list-item
              *ngFor="let price of trip.oldPrices; let i = index"
              [style.color]="i >= 1 && price.price > trip.oldPrices?.[i - 1]!.price ? 'red' : 'green'"
              class="price-date-separator"
            >
              <div>
                <b>€{{ price.price }}</b>
              </div>
              <div>{{ price.date }}</div>
            </nb-list-item>
            <nb-list-item
              [style.color]="trip.oldPrices && trip.price > trip.oldPrices?.[trip.oldPrices!.length - 1]!.price ? 'red' : 'green'"
              class="price-date-separator"
            >
              <div>
                <b>Current price: €{{ trip.price }}</b>
              </div>
              <div>{{ trip.date }}</div>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>

<ng-template #noTrips>
  <p>You haven't added trips to your price tracker...</p>
</ng-template>
