<div *ngIf="priceTrackerTrips; else noTrips">
  <nb-card>
    <nb-card-header> Price Tracker </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let trip of priceTrackerTrips">
        <p>{{ trip.name }}</p>
        <p>{{ trip.description }}</p>
        <div>
          <nb-list>
            <nb-list-item
              *ngFor="let price of trip.oldPrices; let i = index"
              [style.color]="i >= 1 && price.price > trip.oldPrices?.[i - 1]!.price ? 'red' : 'green'"
            >
              {{ price.price }}
              >
              {{ price.price }}: {{ price.date }}
            </nb-list-item>
            <nb-list-item>
              <p
                [style.color]="trip.oldPrices && trip.price > trip.oldPrices?.[trip.oldPrices!.length - 1]!.price ? 'red' : 'green'"
              >
                <strong>Current price:</strong> {{ trip.price }} -
                {{ trip.date }}
              </p>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>

<ng-template #noTrips>
  <p>You haven't added trips to your price tracker...</p>
</ng-template>
