.list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .left-column {
    flex: 0 0 40%;
  }

  .right-column {
    flex: 0 0 60%;
  }

  .trip-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .price-date-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
