<div class="header-text">
  <h1 class="title">Login</h1>
  <p class="sub-title">Log in with your email</p>
  <p class="sub-title" aria-label="Register">
    Don't have an account?
    <a routerLink="/register">Register</a>
  </p>
</div>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <nb-card>
    <nb-card-body class="login-card">
      <div>
        <label class="label" for="input-email">Email address:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.email"
          #email="ngModel"
          name="email"
          id="input-email"
          pattern=".+@.+\..+"
          placeholder="Email address"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
          [attr.aria-invalid]="email.invalid && email.touched ? true : null"
        />
        <ng-container *ngIf="email.invalid && email.touched"> </ng-container>
      </div>
      <div>
        <label class="label" for="input-password">Password:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.password"
          #password="ngModel"
          name="password"
          type="password"
          id="input-password"
          placeholder="Password"
          fieldSize="large"
          status="basic"
          [required]="true"
          minlength="6"
          maxlength="40"
          [attr.aria-invalid]="
            password.invalid && password.touched ? true : null
          "
        />
        <ng-container *ngIf="password.invalid && password.touched">
        </ng-container>
      </div>

      <button
        nbButton
        fullWidth
        status="primary"
        size="large"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted"
      >
        Log In
      </button>
    </nb-card-body>
  </nb-card>
</form>
