<div class="header-text">
  <h1 class="title">{{ 'auth.login.title' | translate }}</h1>
  <p class="sub-title">{{ 'auth.login.subtitle' | translate }}</p>
  <p class="sub-title" aria-label="Register">
    {{ 'auth.login.submessage' | translate }}
    <a routerLink="/register">{{ 'auth.register.title' | translate }}</a>
  </p>
</div>

<form (ngSubmit)="login()" [formGroup]="loginForm">
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="basic">
    <nb-card-body class="login-card">
      <div>
        <label class="label" for="email"
          >{{ 'auth.fields.email' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="{{ 'auth.fields.email' | translate }}"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && loginForm.controls['email']">
          <p
            class="error-text"
            *ngIf="loginForm.controls['email']?.errors?.['required']"
          >
            Please enter your email address
          </p>
          <p
            class="error-text"
            *ngIf="loginForm.controls['email']?.errors?.['email']"
          >
            Your email address must be valid
          </p>
        </div>
      </div>
      <div>
        <label class="label" for="password"
          >{{ 'auth.fields.password' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="{{ 'auth.fields.password' | translate }}"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && loginForm.controls['password']">
          <p
            class="error-text"
            *ngIf="loginForm.controls['password']?.errors?.['required']"
          >
            Please enter your password
          </p>
          <p
            class="error-text"
            *ngIf="loginForm.controls['password']?.errors?.['minlength']"
          >
            Password must be at least 6 characters long
          </p>
          <p
            class="error-text"
            *ngIf="loginForm.controls['password']?.errors?.['maxlength']"
          >
            Password must be less than 40 characters long
          </p>
        </div>
      </div>
      <button
        nbButton
        fullWidth
        [disabled]="loginForm.invalid"
        type="submit"
        status="primary"
        size="large"
      >
        {{ 'auth.login.title' | translate }}
      </button>
    </nb-card-body>
  </nb-card>
</form>
