:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .side-menu-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 48px;
    }
  }

  nb-icon {
    cursor: pointer;
  }
}
