<nb-icon
  (click)="toggleSidebar()"
  class="sidebar-toggle"
  icon="menu-2-outline"
></nb-icon>
<a routerLink="/">ACME Explorer</a>
<div class="buttons">
  <nb-icon
    icon="globe"
    [nbContextMenu]="languageList"
    nbContextMenuTag="language-list-menu"
  ></nb-icon>
  <!-- TODO: check if replaceable with ternary operator -->
  <nb-icon
    *ngIf="this.currentTheme === 'default'"
    (click)="changeTheme()"
    icon="moon"
  ></nb-icon>
  <nb-icon
    *ngIf="this.currentTheme === 'dark'"
    (click)="changeTheme()"
    icon="sun-outline"
  ></nb-icon>
  <button nbButton>{{ 'security.login' | translate }}</button>
  <button nbButton [nbContextMenu]="items">Menu</button>
</div>
