<div class="side-menu-buttons">
  <nb-icon
    (click)="toggleSidebar()"
    class="sidebar-toggle"
    icon="menu-outline"
  ></nb-icon>
  <img src="assets/images/acme-explorer-logo.png" alt="" />

  <a routerLink="/">ACME Explorer</a>
</div>
<div class="buttons">
  <nb-icon
    icon="globe"
    [nbContextMenu]="languageList"
    nbContextMenuTag="language-list-menu"
  ></nb-icon>
  <!-- TODO: check if replaceable with ternary operator -->
  <nb-icon
    *ngIf="this.currentTheme === 'default'"
    (click)="changeTheme()"
    icon="moon"
  ></nb-icon>
  <nb-icon
    *ngIf="this.currentTheme === 'dark'"
    (click)="changeTheme()"
    icon="sun-outline"
  ></nb-icon>
  <div *ngIf="!isLoggedIn">
    <button nbButton [routerLink]="'login'">
      {{ 'security.login' | translate }}
    </button>
    <button nbButton [routerLink]="'register'">
      {{ 'security.register' | translate }}
    </button>
  </div>
  <nb-user
    name="gori"
    title="el gorilongo"
    [showTitle]="false"
    *ngIf="isLoggedIn"
  ></nb-user>
  <button nbButton [nbContextMenu]="items" *ngIf="isLoggedIn">Menu</button>
</div>
