<div class="header-text">
  <h1 class="title">Create your Trip</h1>
</div>

<form (ngSubmit)="createTrip()" [formGroup]="createTripForm">
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="basic">
    <nb-card-body class="create-trip-card">
      <div>
        <label class="label-index" for="title">Title:</label>
        <input
          nbInput
          fullWidth
          id="title"
          name="title"
          formControlName="title"
          placeholder="Title"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && createTripForm.controls['title']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['required']"
          >
            Please enter your title for the trip
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['minlength']"
          >
            Title must be at least 5 characters long
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['maxlength']"
          >
            Title must be less than 40 characters long
          </p>
        </div>
      </div>
      <div>
        <label class="label-index" for="description">Description:</label>
        <input
          nbInput
          fullWidth
          id="description"
          name="description"
          formControlName="description"
          placeholder="Description"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && createTripForm.controls['description']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['required']"
          >
            Please enter your description
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['minlength']"
          >
            Description must be at least 5 characters long
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['maxlength']"
          >
            Description must be less than 40 characters long
          </p>
        </div>
      </div>
      <div>
        <div>
          <label class="label-index" for="dates">Select your dates:</label>
          <input
            nbInput
            fullWidth
            type="text"
            readonly
            id="dates"
            name="dates"
            formControlName="dates"
            placeholder="Pick Date Range"
            [nbDatepicker]="rangepicker"
          />
          <nb-rangepicker #rangepicker [min]="min"></nb-rangepicker>
        </div>
        <div *ngIf="submitted && createTripForm.controls['dates']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['dates']?.errors?.['required']"
          >
            Please select your date ranges
          </p>
        </div>
      </div>

      <label class="label-index" for="requirements"
        >Add a requirement per line:
      </label>
      <textarea
        formControlName="requirements"
        id="requirements"
        name="requirements"
        nbInput
        fullWidth
        rows="3"
        required="true"
        placeholder="Requeriments..."
      ></textarea>

      <div class="stage-container">
        <ng-form class="stage-form" formGroupName="stages">
          <div class="stage-input">
            <label for="stage-title">Stage Title:</label>
            <input
              nbInput
              type="text"
              id="stage-title"
              name="stage-title"
              formControlName="title"
            />
          </div>
          <div class="stage-input">
            <label for="stage-description">Stage Description:</label>
            <input
              nbInput
              type="text"
              id="stage-description"
              name="stage-description"
              formControlName="description"
            />
          </div>
          <div class="stage-input">
            <label for="stage-price">Stage Price:</label>
            <input
              nbInput
              type="number"
              id="stage-price"
              name="stage-price"
              formControlName="price"
            />
          </div>
          <button
            nbButton
            type="button"
            status="primary"
            size="large"
            (click)="addStage()"
          >
            Add stage
          </button>
        </ng-form>

        <nb-list *ngIf="stages">
          <nb-list-item *ngFor="let stage of stages">
            <div class="stage-list-item">
              <div>
                <p>
                  <b>{{ stage.title }}</b
                  >: {{ stage.description }}
                </p>
              </div>
              <div class="price-separation">
                <p>
                  <b>{{ stage.price }}</b> USD
                </p>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  (click)="deleteStage(stage)"
                  type="button"
                >
                  Remove stage
                </button>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>

      <div>
        <label for="pictures">Pictures</label>
        <app-file-upload
          id="pictures"
          name="pictures"
          formControlName="pictures"
        ></app-file-upload>
      </div>

      <button
        nbButton
        fullWidth
        type="submit"
        status="primary"
        size="large"
        [disabled]="!createTripForm.valid"
      >
        Create Trip
      </button>
    </nb-card-body>
  </nb-card>
</form>
