<div class="header-text">
  <h1 class="title">{{ 'create-trip.title' | translate }}</h1>
</div>

<form (ngSubmit)="createTrip()" [formGroup]="createTripForm">
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="basic">
    <nb-card-body class="create-trip-card">
      <div>
        <label class="label-index" for="title"
          >{{ 'create-trip.fields.title' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          id="title"
          name="title"
          formControlName="title"
          placeholder="{{ 'create-trip.fields.title' | translate }}"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && createTripForm.controls['title']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['required']"
          >
            Please enter your title for the trip
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['minlength']"
          >
            Title must be at least 5 characters long
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['title']?.errors?.['maxlength']"
          >
            Title must be less than 40 characters long
          </p>
        </div>
      </div>
      <div>
        <label class="label-index" for="description"
          >{{ 'create-trip.fields.description' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          id="description"
          name="description"
          formControlName="description"
          placeholder="{{ 'create-trip.fields.description' | translate }}"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && createTripForm.controls['description']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['required']"
          >
            Please enter your description
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['minlength']"
          >
            Description must be at least 5 characters long
          </p>
          <p
            class="error-text"
            *ngIf="createTripForm.controls['description']?.errors?.['maxlength']"
          >
            Description must be less than 40 characters long
          </p>
        </div>
      </div>
      <div>
        <div>
          <label class="label-index" for="dates"
            >{{ 'create-trip.fields.dates' | translate }}:</label
          >
          <input
            nbInput
            fullWidth
            type="text"
            readonly
            id="dates"
            name="dates"
            formControlName="dates"
            placeholder="{{ 'create-trip.fields.dates' | translate }}"
            [nbDatepicker]="rangepicker"
          />
          <nb-rangepicker #rangepicker [min]="min"></nb-rangepicker>
        </div>
        <div *ngIf="submitted && createTripForm.controls['dates']">
          <p
            class="error-text"
            *ngIf="createTripForm.controls['dates']?.errors?.['required']"
          >
            Please select your date ranges
          </p>
        </div>
      </div>

      <label class="label-index" for="requirements"
        >{{ 'create-trip.fields.requirements' | translate }}:
      </label>
      <textarea
        formControlName="requirements"
        id="requirements"
        name="requirements"
        nbInput
        fullWidth
        rows="3"
        required="true"
        placeholder="{{ 'create-trip.fields.requirements' | translate }}..."
      ></textarea>

      <div class="stage-container">
        <ng-form class="stage-form" formGroupName="stages">
          <div class="stage-input">
            <label for="stage-title"
              >{{ 'create-trip.fields.stageTitle' | translate }}:</label
            >
            <input
              nbInput
              type="text"
              id="stage-title"
              name="stage-title"
              formControlName="title"
            />
          </div>
          <div class="stage-input">
            <label for="stage-description"
              >{{ 'create-trip.fields.stageDescription' | translate }}:</label
            >
            <input
              nbInput
              type="text"
              id="stage-description"
              name="stage-description"
              formControlName="description"
            />
          </div>
          <div class="stage-input">
            <label for="stage-price"
              >{{ 'create-trip.fields.stagePrice' | translate }}:</label
            >
            <input
              nbInput
              type="number"
              id="stage-price"
              name="stage-price"
              formControlName="price"
            />
          </div>
          <button
            nbButton
            type="button"
            status="primary"
            size="large"
            (click)="addStage()"
          >
            {{ 'create-trip.buttons.addStage' | translate }}
          </button>
        </ng-form>

        <nb-list *ngIf="stages">
          <nb-list-item *ngFor="let stage of stages">
            <div class="stage-list-item">
              <div>
                <p>
                  <b>{{ stage.title }}</b
                  >: {{ stage.description }}
                </p>
              </div>
              <div class="price-separation">
                <p>
                  €<b>{{ stage.price }}</b>
                </p>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  (click)="deleteStage(stage)"
                  type="button"
                >
                  {{ 'create-trip.buttons.removeStage' | translate }}
                </button>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>

      <ng-container formArrayName="pictures">
        <label for="images">Images</label>
        <div
          class="image-container"
          *ngFor="let image of imageArray.controls; let i = index"
        >
          <app-file-upload
            class="image-container"
            [control]="$any(image)"
          ></app-file-upload>
          <button
            nbButton
            status="primary"
            size="small"
            (click)="removeImage(i)"
            type="button"
          >
            {{ 'create-trip.buttons.delete' | translate }}
          </button>
        </div>
      </ng-container>

      <button
        nbButton
        status="primary"
        size="small"
        (click)="addImage()"
        type="button"
      >
        {{ 'create-trip.buttons.upload' | translate }}
      </button>

      <button
        nbButton
        fullWidth
        type="submit"
        status="primary"
        size="large"
        [disabled]="!createTripForm.valid"
      >
        {{ 'create-trip.buttons.create' | translate }}
      </button>
    </nb-card-body>
  </nb-card>
</form>
