@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(
  (
    color-primary-100: #cefbdd,
    color-primary-200: #a0f8c5,
    color-primary-300: #6deaae,
    color-primary-400: #47d59f,
    color-primary-500: #15b98b,
    color-primary-600: #0f9f84,
    color-primary-700: #0a857a,
    color-primary-800: #066a6b,
    color-primary-900: #044f58,
    color-success-100: #d0fdd5,
    color-success-200: #a2fbb5,
    color-success-300: #72f39b,
    color-success-400: #4ee78e,
    color-success-500: #1ad87c,
    color-success-600: #13b979,
    color-success-700: #0d9b73,
    color-success-800: #087d67,
    color-success-900: #04675f,
    color-info-100: #d7defe,
    color-info-200: #b0bdfe,
    color-info-300: #899afd,
    color-info-400: #6b7efb,
    color-info-500: #3b52f9,
    color-info-600: #2b3dd6,
    color-info-700: #1d2cb3,
    color-info-800: #121d90,
    color-info-900: #0b1277,
    color-warning-100: #fbfdcf,
    color-warning-200: #f8fba0,
    color-warning-300: #eff470,
    color-warning-400: #e3ea4c,
    color-warning-500: #d3dd16,
    color-warning-600: #b4be10,
    color-warning-700: #969f0b,
    color-warning-800: #788007,
    color-warning-900: #626a04,
    color-danger-100: #ffe9d7,
    color-danger-200: #ffcdb0,
    color-danger-300: #ffab88,
    color-danger-400: #ff8a6b,
    color-danger-500: #ff543a,
    color-danger-600: #db332a,
    color-danger-700: #b71d21,
    color-danger-800: #931220,
    color-danger-900: #7a0b1f,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600
  ),
  default,
  default
);

$nb-themes: nb-register-theme((), dark, dark);
