<nb-card
  *ngIf="trip"
  class="root-container"
  [nbSpinner]="loading"
  nbSpinnerStatus="basic"
>
  <nb-card-header class="header-container">
    <p>
      {{ 'trip-detail.editTrip.title' | translate }}: <b>{{ trip.title }}</b>
    </p>
    <nb-icon
      icon="close-outline"
      (click)="close()"
      hover-class="hover"
    ></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="updateTripForm" (ngSubmit)="updateTrip()">
      <div>
        <label class="label-index" for="title"
          >{{ 'trip-detail.editTrip.form.title' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          id="title"
          name="title"
          formControlName="title"
          placeholder="{{ 'trip-detail.editTrip.form.title' | translate }}"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && updateTripForm.controls['title']">
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['title']?.errors?.['required']"
          >
            {{ 'trip-detail.editTrip.form.titleErrors.required' | translate }}
          </p>
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['title']?.errors?.['minlength']"
          >
            {{ 'trip-detail.editTrip.form.titleErrors.minlength' | translate }}
          </p>
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['title']?.errors?.['maxlength']"
          >
            {{ 'trip-detail.editTrip.form.titleErrors.required' | translate }}
          </p>
        </div>
      </div>
      <div>
        <label class="label-index" for="description"
          >{{ 'trip-detail.editTrip.form.description' | translate }}:</label
        >
        <input
          nbInput
          fullWidth
          id="description"
          name="description"
          formControlName="description"
          placeholder="{{
            'trip-detail.editTrip.form.description' | translate
          }}"
          fieldSize="large"
          status="basic"
          required="true"
        />
        <div *ngIf="submitted && updateTripForm.controls['description']">
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['description']?.errors?.['required']"
          >
            {{
              'trip-detail.editTrip.form.descriptionErrors.required' | translate
            }}
          </p>
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['description']?.errors?.['minlength']"
          >
            {{
              'trip-detail.editTrip.form.descriptionErrors.minlength'
                | translate
            }}
          </p>
          <p
            class="error-text"
            *ngIf="updateTripForm.controls['description']?.errors?.['maxlength']"
          >
            {{
              'trip-detail.editTrip.form.descriptionErrors.maxlength'
                | translate
            }}
          </p>
        </div>
      </div>
      <label class="label-index" for="requirements">
        {{ 'trip-detail.editTrip.form.requirements' | translate }}:
      </label>
      <textarea
        formControlName="requirements"
        id="requirements"
        name="requirements"
        nbInput
        fullWidth
        rows="3"
        required="true"
        placeholder="Requeriments..."
      ></textarea>

      <div class="stage-container">
        <ng-form class="stage-form" formGroupName="stages">
          <div class="stage-input">
            <label for="stage-title"
              >{{ 'create-trip.fields.stageTitle' | translate }}:</label
            >
            <input
              nbInput
              type="text"
              id="stage-title"
              name="stage-title"
              formControlName="title"
            />
          </div>
          <div class="stage-input">
            <label for="stage-description"
              >{{ 'create-trip.fields.stageDescription' | translate }}:</label
            >
            <input
              nbInput
              type="text"
              id="stage-description"
              name="stage-description"
              formControlName="description"
            />
          </div>
          <div class="stage-input">
            <label for="stage-price"
              >{{ 'create-trip.fields.stagePrice' | translate }}:</label
            >
            <input
              nbInput
              type="number"
              id="stage-price"
              name="stage-price"
              formControlName="price"
            />
          </div>
          <button
            nbButton
            type="button"
            status="primary"
            size="large"
            (click)="addStage()"
          >
            {{ 'create-trip.buttons.addStage' | translate }}
          </button>
        </ng-form>

        <nb-list *ngIf="stages">
          <nb-list-item *ngFor="let stage of stages">
            <div class="stage-list-item">
              <div>
                <p>
                  <b>{{ stage.title }}</b
                  >: {{ stage.description }}
                </p>
              </div>
              <div class="price-separation">
                <p>
                  €<b>{{ stage.price }}</b>
                </p>
                <button
                  nbButton
                  status="primary"
                  size="small"
                  (click)="deleteStage(stage)"
                  type="button"
                >
                  {{ 'create-trip.buttons.removeStage' | translate }}
                </button>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>

      <button
        nbButton
        fullWidth
        type="submit"
        status="primary"
        size="large"
        [disabled]="!updateTripForm.valid"
        data-testid="submit-edit-button"
      >
        {{ 'trip-detail.editTrip.form.button' | translate }}
      </button>
    </form>
  </nb-card-body>
</nb-card>
